body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5d677e;
    color: #080101;
    padding: 20px;
    text-align: center;
}
.container {
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #7489a0;
}
h2 {
    color: #333;
}
p {
    line-height: 1.6;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.image-gallery img {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .image-gallery img {
        width: calc(50% - 10px);
    }
}
@media (max-width: 480px) {
    .image-gallery img {
        width: 100%;
    }
}